{% extends 'base.html' %}
{% load filters %}
{% block title %}{{ publication.title }}{% endblock %}

{% block content %}
<h2>{{ publication.title }}</h2>

<h3>Дата публикации: {{publication.publisched_at|date:"d.m.Y"}}</h3>
<h3>Дата создания: {{publication.content_object.created_at|date:"d.m.Y"}}</h3>
<h3>Автор: {{publication.content_object.author.username}}</h3>
<p>
    Теги:
    {% for tag in tags %}
        {{ tag.name }}{% if not forloop.last %}| {% endif %}
    {% endfor %}
</p>

{% if publication.content_type.model == 'article' %}
    {% if image %}
        <img src="{{ image.url }}" alt="{{ publication.title }}">
    {% else %}
        <p>No image available</p>
    {% endif %}
    <p>{{ publication.content_object.content }}</p>
{% elif publication.content_type.model == 'video' %}
    {% with youtube_url=publication.content_object.youtube_url %}
        {% with video_id=youtube_url|get_youtube_video_id %}
            {% if video_id %}
                <iframe width="1000" height="600"
                src="https://www.youtube.com/embed/{{ video_id }}"
                frameborder="0" allowfullscreen></iframe>
            {% else %}
                <p>Invalid YouTube URL</p>
            {% endif %}
        {% endwith %}
    {% endwith %}
{% endif %}

<h4>Комментарии</h4>
<ul>
    {% for comment in comments %}
    <li>{{ comment.content }} - {{ comment.created_at|date:"d.m.Y" }} - {{comment.author.username}}</li>
    {% endfor %}
</ul>

{% if user.is_authenticated%}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Отправить</button>
    </form>
{% endif %}

{% endblock %}